.calculator {
  background-color: rgb(122, 122, 122);
  width: 350px;
  border-style: outset;
  border-width: thin;
  border-color: white;
  height: 450px;
}
#display {
  background-color: rgb(43, 43, 43);
  font-family: "Thasadith", sans-serif;
  font-size: 2em;
  color: white;
  border-style: inset;
  border-color: rgb(168, 168, 168);
  height: 50px;
  margin-right: 5px;
  margin-left: 5px;
  text-align: right;
  width: -webkit-fill-available;
  overflow: scroll;
  margin-top: 5px;
}

.buttonContainer {
  height: 379px;
  padding: 5px;
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  grid-gap: 1px;
}

#clear {
  grid-column: span 2;
}
#decimal {
  grid-column: span 2;
}
#equals {
  grid-row: span 2;
}

.footer {
  font-family: "Thasadith";
  color: white;
  text-align: center;
}
